<!DOCTYPE html>
<html>
  <head>
    <title><%= product %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1><%= product %></h1>
      <p>Welcome to <%= product %></p>
      <h1>Fid test products</h1>
      <a href="/blog/add">เพิ่มบทความ</a>
    </div>
  </body>
</html>
