<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h1>Fid test and what does fid say :</h1>
      <a href="/blog">see blogs</a>
    </div>
  </body>
</html>
